CONFIG_DEBUG=y
CONFIG_MOD_TYPE=hdk
CONFIG_ARCH_BOARDID_PID=0x00010001
CONFIG_ARCH_BOARDID_VID=0x00000128
CONFIG_ROOT_VERSION=2
# CONFIG_NO_FLASH is not set
CONFIG_CHIPSET=STM32L4xx
CONFIG_CHIPSET_LC=stm32l4xx
CONFIG_TARGET_DEVICE=STM32L476xx
CONFIG_TARGET_DEVICE_LC=stm32l476xx
CONFIG_BOARD=STM32L476G-Discovery
CONFIG_CUBE_DIR=STM32Cube_FW_L4_V1.0.0
CONFIG_ARCH_HAS_HW_FLOAT=y